<div class="row">
    <div class="col-12">
        <%= render partial: 'shared/navigation_bar' %>
    </div>

    <br/>

    <div class="col align-self-center">
        <h4> Welcome! <h4>
    </div>
    <br/>
    <div class="col align-self-center">
        <%= link_to 'Rooms', :root %>
    </div>

</div>