.welcome {
    background: #343a40;
    padding: 5%;
}

.col-md-2 {
    padding-left: 2%;
}

.msg-form {
    position: fixed;
    bottom: 0;
    width: 83%;
    background-color: #343a40;
    padding: 1%;
}

.col-md-10 {
    height: 80vh;
    overflow: scroll;
}

.msg-content {
    width: 80%;
    margin-right: 5px;
}

.message-box {
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555 ;
    padding: 10px
}

.fixed-navbar {
    //position: fixed;
    z-index: 1000;
    width: 100%;
}

.pad-index {
    padding-top: 55px;
}

.pad-room-box {
    padding-bottom: 50px;
    margin-bottom: 3%;
}